<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1106},{379,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,137}}</string>
                <key>sourceSize</key>
                <string>{379,137}</string>
            </dict>
            <key>btn_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,912},{380,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,137}}</string>
                <key>sourceSize</key>
                <string>{380,137}</string>
            </dict>
            <key>btn_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1106},{379,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,137}}</string>
                <key>sourceSize</key>
                <string>{379,137}</string>
            </dict>
            <key>card_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1628},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>card_position.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1245},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>cluba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,2},{227,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,185}}</string>
                <key>sourceSize</key>
                <string>{227,185}</string>
            </dict>
            <key>cluba_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,1106},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>cluba_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1245},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>cluba_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1677},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>deck_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1294},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>deck_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,830},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>deck_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,830},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>deck_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,554},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>deck_position_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,554},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>dia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,380},{189,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,201}}</string>
                <key>sourceSize</key>
                <string>{189,201}</string>
            </dict>
            <key>dia_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1720},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>dia_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1337},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>dia_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,954},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,733},{201,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,177}}</string>
                <key>sourceSize</key>
                <string>{201,177}</string>
            </dict>
            <key>heart_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,571},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>heart_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1720},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>heart_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1337},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>pink_cluba_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,954},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>pink_cluba_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,571},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>pink_cluba_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,278},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>pink_dia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,189},{189,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,201}}</string>
                <key>sourceSize</key>
                <string>{189,201}</string>
            </dict>
            <key>pink_dia_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,278},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>pink_dia_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,278},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>pink_dia_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,278},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>pink_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,554},{201,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,177}}</string>
                <key>sourceSize</key>
                <string>{201,177}</string>
            </dict>
            <key>pink_heart_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,2},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>pink_heart_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>pink_heart_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>pink_spade_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>pink_spade_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>pink_spade_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1151},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,759},{191,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,186}}</string>
                <key>sourceSize</key>
                <string>{191,186}</string>
            </dict>
            <key>spade_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,571},{191,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,186}}</string>
                <key>sourceSize</key>
                <string>{191,186}</string>
            </dict>
            <key>spade_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>spade_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
            <key>spade_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,381}}</string>
                <key>sourceSize</key>
                <string>{274,381}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_play_ipadhd.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c030a5deadfee64f9a5b084fa84a8f0:9a33f96a36b92992dbe5a13ccabe04e3:1c3b23f0c10570ce340e362070cb83e7$</string>
            <key>textureFileName</key>
            <string>game_play_ipadhd.pvr</string>
        </dict>
    </dict>
</plist>
