<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2538,2},{1536,2048}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,2048}}</string>
                <key>sourceSize</key>
                <string>{1536,2048}</string>
            </dict>
            <key>help_screen_footer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3779},{1536,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,103}}</string>
                <key>sourceSize</key>
                <string>{1536,103}</string>
            </dict>
            <key>help_screen_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2538,2052},{1536,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,358}}</string>
                <key>sourceSize</key>
                <string>{1536,358}</string>
            </dict>
            <key>instruction_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{1266,3775}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1266,3775}}</string>
                <key>sourceSize</key>
                <string>{1266,3775}</string>
            </dict>
            <key>instruction_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1266,3775}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1266,3775}}</string>
                <key>sourceSize</key>
                <string>{1266,3775}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help_screen_ipadhd.pvr</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92c99cee39b96690b88ccf35729c1048:76ad0d95c74a1de9cb07d20e7956ae16:34a686b94e55b7b14424e113b4b9d987$</string>
            <key>textureFileName</key>
            <string>help_screen_ipadhd.pvr</string>
        </dict>
    </dict>
</plist>
