<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,3048},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1093},{378,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,378}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,464},{627,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,175}}</string>
                <key>sourceSize</key>
                <string>{627,175}</string>
            </dict>
            <key>btn_option.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,464},{627,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,175}}</string>
                <key>sourceSize</key>
                <string>{627,175}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,464},{627,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,175}}</string>
                <key>sourceSize</key>
                <string>{627,175}</string>
            </dict>
            <key>btn_states.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,464},{627,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,175}}</string>
                <key>sourceSize</key>
                <string>{627,175}</string>
            </dict>
            <key>close_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1510},{1536,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,462}}</string>
                <key>sourceSize</key>
                <string>{1536,462}</string>
            </dict>
            <key>cong_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,0},{1536,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,462}}</string>
                <key>sourceSize</key>
                <string>{1536,462}</string>
            </dict>
            <key>hard_luck_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1536,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,462}}</string>
                <key>sourceSize</key>
                <string>{1536,462}</string>
            </dict>
            <key>lbl_connect.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1093},{390,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,131}}</string>
                <key>sourceSize</key>
                <string>{390,131}</string>
            </dict>
            <key>lbl_disconnect.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3048},{446,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,134}}</string>
                <key>sourceSize</key>
                <string>{446,134}</string>
            </dict>
            <key>lbl_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1093},{390,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,135}}</string>
                <key>sourceSize</key>
                <string>{390,135}</string>
            </dict>
            <key>lbl_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{4006,0},{143,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,65}}</string>
                <key>sourceSize</key>
                <string>{143,65}</string>
            </dict>
            <key>lbl_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{4006,145},{106,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,65}}</string>
                <key>sourceSize</key>
                <string>{106,65}</string>
            </dict>
            <key>setting_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,464},{1369,1220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1369,1220}}</string>
                <key>sourceSize</key>
                <string>{1369,1220}</string>
            </dict>
            <key>storage_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,0},{1508,928}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1508,928}}</string>
                <key>sourceSize</key>
                <string>{1508,928}</string>
            </dict>
            <key>toggle.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,3926},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>toggle_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3926},{374,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,132}}</string>
                <key>sourceSize</key>
                <string>{374,132}</string>
            </dict>
            <key>yellow_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3496},{428,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,428}}</string>
                <key>sourceSize</key>
                <string>{428,428}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_menu_ipadhd.pvr</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57d4ef9767b9725d6a3bec75d1a51155:1545520851688ab5ae2e291de8b08a90:46812dd23cf4e0c620ba3aed2741589c$</string>
            <key>textureFileName</key>
            <string>main_menu_ipadhd.pvr</string>
        </dict>
    </dict>
</plist>
