<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>number_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1942,876}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1942,876}}</string>
                <key>sourceSize</key>
                <string>{1942,876}</string>
            </dict>
            <key>particle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{4002,2},{50,50}}</string>
                <key>offset</key>
                <string>{-2,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{613,349},{50,50}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3986,624},{108,116}}</string>
                <key>offset</key>
                <string>{-3,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,313},{108,116}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,1280},{516,546}}</string>
                <key>offset</key>
                <string>{-6,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,155},{516,546}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,880},{540,574}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,147},{540,574}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1280},{560,600}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,141},{560,600}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3228,1830},{578,622}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{347,138},{578,622}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3296,1234},{594,640}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{339,137},{594,640}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3328,624},{608,656}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,137},{608,656}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3328,2},{620,672}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,137},{620,672}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2642,2},{628,684}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,139},{628,684}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2},{638,694}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,143},{638,694}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2642,632},{644,652}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,155},{644,652}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3852,2076},{172,178}}</string>
                <key>offset</key>
                <string>{2,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{556,281},{172,178}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,642},{648,636}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,161},{648,636}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2596,1278},{630,626}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,161},{630,626}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2410},{608,618}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,161},{608,618}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1280},{600,612}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,161},{600,612}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3852,1830},{232,244}}</string>
                <key>offset</key>
                <string>{3,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{527,255},{232,244}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,880},{290,304}}</string>
                <key>offset</key>
                <string>{2,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,231},{290,304}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,880},{342,358}}</string>
                <key>offset</key>
                <string>{0,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,211},{342,358}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{384,404}}</string>
                <key>offset</key>
                <string>{-1,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,196},{384,404}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1422},{424,446}}</string>
                <key>offset</key>
                <string>{-3,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,182},{424,446}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle8.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1906},{456,480}}</string>
                <key>offset</key>
                <string>{-5,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,173},{456,480}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>particle9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1906},{486,514}}</string>
                <key>offset</key>
                <string>{-6,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,165},{486,514}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>particle_ipadhd.pvr</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c417a4479f5b346a44b56742131abdc6:0a75ca5b0dd51c5f8943dcd581f789b0:c52d36796ecc3daaf5c36b9a22014680$</string>
            <key>textureFileName</key>
            <string>particle_ipadhd.pvr</string>
        </dict>
    </dict>
</plist>
