<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,768},{190,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,69}}</string>
                <key>sourceSize</key>
                <string>{190,69}</string>
            </dict>
            <key>btn_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,697},{190,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,69}}</string>
                <key>sourceSize</key>
                <string>{190,69}</string>
            </dict>
            <key>btn_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,419},{190,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,69}}</string>
                <key>sourceSize</key>
                <string>{190,69}</string>
            </dict>
            <key>card_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,558},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>card_position.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,822},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>cluba.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,382},{114,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,93}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>cluba_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,683},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>cluba_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,830},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>cluba_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,691},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>deck_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,490},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>deck_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,419},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>deck_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,498},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>deck_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,280},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>deck_position_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,280},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>dia.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,99},{95,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,101}}</string>
                <key>sourceSize</key>
                <string>{95,101}</string>
            </dict>
            <key>dia_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,866},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>dia_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,673},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>dia_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,480},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,280},{101,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,89}}</string>
                <key>sourceSize</key>
                <string>{101,89}</string>
            </dict>
            <key>heart_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,287},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>heart_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,866},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>heart_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,673},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>pink_cluba_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,480},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>pink_cluba_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,287},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>pink_cluba_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,141},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>pink_dia.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{95,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,101}}</string>
                <key>sourceSize</key>
                <string>{95,101}</string>
            </dict>
            <key>pink_dia_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,141},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>pink_dia_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,141},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>pink_dia_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,141},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>pink_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,196},{101,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,89}}</string>
                <key>sourceSize</key>
                <string>{101,89}</string>
            </dict>
            <key>pink_heart_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>pink_heart_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>pink_heart_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>pink_spade_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>pink_spade_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>pink_spade_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,287},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>spade_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,371},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>spade_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>spade_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>spade_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_play_ipad.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1f450e1966ef09bf2fb9861a4a2f7fe:9a33f96a36b92992dbe5a13ccabe04e3:338b9f1a6434380fbbbfa36f48ef6087$</string>
            <key>textureFileName</key>
            <string>game_play_ipad.pvr</string>
        </dict>
    </dict>
</plist>
