<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>number_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{971,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{971,438}}</string>
                <key>sourceSize</key>
                <string>{971,438}</string>
            </dict>
            <key>particle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,2},{24,24}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,175},{24,24}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,620},{54,58}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,156},{54,58}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,644},{258,272}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,78},{258,272}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,442},{270,286}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,74},{270,286}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,644},{280,300}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,70},{280,300}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,918},{288,310}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,70},{288,310}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,620},{296,320}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,68},{296,320}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,314},{304,328}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,68},{304,328}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,2},{310,336}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,68},{310,336}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,2},{314,342}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,69},{314,342}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle18.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{320,346}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,72},{320,346}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,318},{322,326}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,77},{322,326}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,1042},{86,88}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,141},{86,88}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle20.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,324},{324,318}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,80},{324,318}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,642},{314,312}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,81},{314,312}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{304,308}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,81},{304,308}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{300,306}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,80},{300,306}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,918},{116,122}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,127},{116,122}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,442},{144,152}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,115},{144,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,442},{170,178}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,106},{170,178}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{192,202}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,98},{192,202}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle7.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,714},{212,222}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,92},{212,222}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle8.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,956},{228,240}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,86},{228,240}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>particle9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{242,256}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,83},{242,256}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>particle_ipad.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:213598057791020f27d43343c82130dd:0a75ca5b0dd51c5f8943dcd581f789b0:08fdf9058161c9844b98986705342c2e$</string>
            <key>textureFileName</key>
            <string>particle_ipad.pvr</string>
        </dict>
    </dict>
</plist>
