<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>background_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,163},{159,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,57}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
            <key>btn_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{159,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,57}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
            <key>btn_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,1943},{159,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,57}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
            <key>card_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1578},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>card_position.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,1256},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>cluba.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1943},{95,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,77}}</string>
                <key>sourceSize</key>
                <string>{95,77}</string>
            </dict>
            <key>cluba_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,1417},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>cluba_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,1256},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>cluba_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,1256},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>cong_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1782},{640,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,231}}</string>
                <key>sourceSize</key>
                <string>{640,231}</string>
            </dict>
            <key>deck_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1900},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>deck_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,1739},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>deck_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,1578},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>deck_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1417},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>dia.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1943},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>dia_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1256},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>dia_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,1140},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>dia_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,1140},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1943},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>heart_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1140},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>heart_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,1900},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>heart_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1739},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>pink_card_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1900},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>pink_cluba_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1739},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>pink_cluba_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1623},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>pink_cluba_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1462},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>pink_dia.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1943},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>pink_dia_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1301},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>pink_dia_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1140},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>pink_dia_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1739},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>pink_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1943},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>pink_heart_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1623},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>pink_heart_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1462},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>pink_heart_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1301},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>pink_spade_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1140},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>pink_spade_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1782},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>pink_spade_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1782},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1943},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>spade_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1943},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>spade_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1782},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>spade_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1782},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
            <key>spade_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1782},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,159}}</string>
                <key>sourceSize</key>
                <string>{114,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_play_hd.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a47d4b68b6662515f04fbe6c0a68c6c:9400b297227a883da650ccf352541339:e3fc20832888422d6586e26acf11882e$</string>
            <key>textureFileName</key>
            <string>game_play_hd.pvr</string>
        </dict>
    </dict>
</plist>
