<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>help_screen_footer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1760},{640,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,72}}</string>
                <key>sourceSize</key>
                <string>{640,72}</string>
            </dict>
            <key>help_screen_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1592},{640,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,166}}</string>
                <key>sourceSize</key>
                <string>{640,166}</string>
            </dict>
            <key>instruction_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{533,1588}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{533,1588}}</string>
                <key>sourceSize</key>
                <string>{645,1600}</string>
            </dict>
            <key>instruction_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{533,1586}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{533,1586}}</string>
                <key>sourceSize</key>
                <string>{645,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help_screen_hd.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:245c008e2a61cd2d7231e70fe76ad89e:a0d2d559ab267da56ec55d3bc7331e34:c63c10201a7be292f9de8ddcfc0283f6$</string>
            <key>textureFileName</key>
            <string>help_screen_hd.pvr</string>
        </dict>
    </dict>
</plist>
